<a href="https://colab.research.google.com/github/Abinav160701/ML_Projects/blob/master/EarthquakePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [35]:
df = pd.read_csv('database.csv')

In [36]:
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [37]:
df.Type.value_counts()

Earthquake           23232
Nuclear Explosion      175
Explosion                4
Rock Burst               1
Name: Type, dtype: int64

In [38]:
df.isna().sum()

Date                              0
Time                              0
Latitude                          0
Longitude                         0
Type                              0
Depth                             0
Depth Error                   18951
Depth Seismic Stations        16315
Magnitude                         0
Magnitude Type                    3
Magnitude Error               23085
Magnitude Seismic Stations    20848
Azimuthal Gap                 16113
Horizontal Distance           21808
Horizontal Error              22256
Root Mean Square               6060
ID                                0
Source                            0
Location Source                   0
Magnitude Source                  0
Status                            0
dtype: int64

In [39]:
df.shape

(23412, 21)

In [40]:
df.Type.value_counts()

Earthquake           23232
Nuclear Explosion      175
Explosion                4
Rock Burst               1
Name: Type, dtype: int64

In [41]:
df=df[['Date','Time','Latitude','Longitude','Depth','Magnitude']]

In [42]:
df.head()

         Date      Time  Latitude  Longitude  Depth  Magnitude
0  01/02/1965  13:44:18    19.246    145.616  131.6        6.0
1  01/04/1965  11:29:49     1.863    127.352   80.0        5.8
2  01/05/1965  18:05:58   -20.579   -173.972   20.0        6.2
3  01/08/1965  18:49:43   -59.076    -23.557   15.0        5.8
4  01/09/1965  13:32:50    11.938    126.427   15.0        5.8

In [43]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce', format='%m/%d/%Y')

In [44]:
## Extracting minutes, seconds, hours from column Time

minutes = []
hours = []
seconds = []

for t in df.Time:
    t  = t.split(":")
    minutes.append(t[1])
    hours.append(t[0])
    seconds.append(t[2])

In [45]:
## creating new columns minutes, hours, seconds

df['minutes'] = minutes
df['hours'] = hours
df['seconds'] = seconds

df['minutes'] = pd.to_numeric(df['minutes'], errors='coerce')
df['hours'] = pd.to_numeric(df['hours'], errors='coerce')
df['seconds'] = pd.to_numeric(df['seconds'], errors='coerce')

In [46]:
## creating new columns year, month, day

df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day

In [47]:
## dropping date and time column from dataset

df.drop(['Date', 'Time'], axis=1, inplace=True)

In [48]:
df.dropna(inplace=True)

In [49]:
X = df[['Latitude', 'Longitude', 'minutes', 'hours', 'seconds', 'year', 'month', 'day']]
y = df[['Depth', 'Magnitude']]

In [50]:
X=X.values
y=y.values

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [53]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

In [54]:
## creating a neural Network model 

model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(8,)))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(2, activation='softmax'))

In [55]:
model.compile(optimizer='adam', loss='squared_hinge', metrics=['accuracy'])

In [56]:
## training the model

history = model.fit(X_train, y_train, batch_size=64, epochs=20, verbose=1, validation_data=(X_test, y_test))

Epoch 1/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5000 - accuracy: 0.0187 - val_loss: 0.5000 - val_accuracy: 0.0175
Epoch 2/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5000 - accuracy: 0.0187 - val_loss: 0.4998 - val_accuracy: 0.0175
Epoch 3/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9774 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 4/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 5/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 6/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 7/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 8/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 9/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 10/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 11/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 12/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 13/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 14/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 15/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 16/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 17/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 18/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 19/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825
Epoch 20/20
257/257 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.9813 - val_loss: 0.5033 - val_accuracy: 0.9825